.svg {
    background-color: lightgrey;
    display: block;
    margin: 0 auto;
    border-radius: 5px;
    cursor: move;
}

path {
    fill: none;
    stroke: whitesmoke;
}

text {
    text-shadow: 0 0 3px rgb(194, 191, 191), 0 0 5px rgb(199, 199, 238);
    pointer-events: none;
}